body{
	margin:0;
}
a:link {
	text-decoration: none;
	color: #0077ee;
}
a:visited {
	text-decoration: none;
	color: #0077ee;
}
a:hover {
	text-decoration: none;
	color: #CD2626;
}
a:active {
	text-decoration: none;
	color: #0077ee;
}
#chart_div, #afr_div, #asia_div, #eur_div, #am_div, #oc_div {
	display: table;
	margin: auto;
	z-index: 1;
}
#headerWrapper {
	background: none repeat scroll 0 0 #2F4779;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    display: block;
    padding: 10px 0;
    position: fixed;
    width:100%;
    z-index:2;
}
#bodyWrapper {
	display: table;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding:0px;
	width:100%;
}
#textWrapper {
	width:1200px;
	margin:auto;
	margin-top:120px;
	display:table;
}
.space {
	margin-bottom:69px;
}
.para {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 152px;
	margin-right: 152px;
	min-width: 10px;
	max-width: 1200px;
}
.center {
	text-align:center;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 152px;
	margin-right: 152px;
	min-width: 10px;
	max-width: 1200px;
}
.cont {
	font-size: 13px;
	margin-left: 8px;
	margin-top: 4px;
}
#nav {
	margin-top: 58px;
	position: fixed;
	border-style: solid;
	border-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	background-color: #fff;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	color:#fff;
	font-weight:normal;
	font-family:Georgia;
	margin-top:0px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}