body {
	display: table;
	margin: auto;
	width: 1200px;
	background-color: #f5f5f5;
}
a:link {
	text-decoration: none;
	color: #0077ee;
}
a:visited {
	text-decoration: none;
	color: #0077ee;
}
a:hover {
	text-decoration: none;
	color: #CD2626;
}
a:active {
	text-decoration: none;
	color: #0077ee;
}
#chart_div, #afr_div, #asia_div, #eur_div, #am_div, #oc_div {
	display: table;
	margin: auto;
}
.space {
	margin-bottom:100px;
}
.para {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 152px;
	margin-right: 152px;
	min-width: 10px;
	max-width: 1200px;
}
.cont {
	font-size: 13px;
	margin-left: 8px;
	margin-top: 4px;
}
#nav {
	margin-top: 58px;
	position: fixed;
	border-style: solid;
	border-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	background-color: #fff;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}